
*/2 * * * * root /usr/bin/php -c /etc/php.ini /var/www/html/front/cron.php 
*/5 * * * * root /usr/bin/php -c /etc/php.ini /var/www/html/front/cron.php --forcequeudnotification 
*/5 * * * * root /usr/bin/php -c /etc/php.ini /var/www/html/front/cron.php --forcemailgate

0 1 * * * root /backup.sh  
