apiVersion: v1
kind: PersistentVolume
metadata:
  name: mariadb-pv-volume
  labels: 
    type: local

spec: 
  storageClassName: manual
  capacity: 
    storage: 5Gi
  accessModes: 
    - ReadWriteOnce
  hostPath: 
    path: "/tmp/mariadb-glpi/data"


---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: mariadb-pv-claim

spec: 
  storageClassName: manual
  accessModes: 
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 5Gi


